<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>
<ng-template #signupForm>

  <div  style="max-width:350px; margin-left: 4px;" class="row col-sm-9">
      <div class="row m0 section_header">
          <h2> Registration Craftsman</h2>
          </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstName">First Name </label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="form.firstName" #firstName="ngModel" required />
        <div *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required" class="req">*First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name </label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" required />
        <div *ngIf="f.submitted && lastName.invalid">
          <div *ngIf="lastName.errors.required" class="req">*Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required" class="req">*Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required" class="req">*Email is required</div>
          <div *ngIf="email.errors.email" class="req">*Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required" class="req">*Password is required</div>
          <div *ngIf="password.errors.minlength" class="req">*Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="birth">Date of Birth</label>
        <input type="date" class="form-control" id="birth" name="birth" [(ngModel)]="form.birth" #birth="ngModel" required />
        <div *ngIf="f.submitted && birth.invalid">
          <div *ngIf="birth.errors.required" class="req">*Date of Birth is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="form.address" #address="ngModel" required />
        <div *ngIf="f.submitted && address.invalid">
          <div *ngIf="birth.errors.required" class="req">*address is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="job">Job</label>
        <input type="text" class="form-control" id="job" name="job" [(ngModel)]="form.job" #job="ngModel" required />
        <div *ngIf="f.submitted && job.invalid">
          <div *ngIf="job.errors.required"class="req">*job is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="service">other service</label>
        <ng-multiselect-dropdown
          class="form-control"
          style="padding: unset;
  border: none;"
          id="service" name="service"
          #service="ngModel"
          [placeholder]="'Services'"
          [data]="dropdownList"
          [(ngModel)]="form.service"
          [settings]="dropdownSettings"
        >
        </ng-multiselect-dropdown>
<!--        <input type="text" class="form-control" id="service" name="service" [(ngModel)]="form.service" #service="ngModel"  />-->
        </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel"  pattern="[0-9]{2}[0-9]{3}[0-9]{3}" class="form-control" id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" required />
        <div *ngIf="f.submitted && phone.invalid">
          <div *ngIf="phone.errors.required" class="req">*phone number is required</div>
          <div *ngIf="email.errors.phone" class="req">*Phone must be a valid email address</div>

        </div>
      </div>
      <div class="form-group">
          <label for="individual">individual</label>
              <input type="radio" class="form-control" id="individual" name="type" value="individual" [(ngModel)]="form.type" #type="ngModel"  />
                <label for="Entreprise">Entreprise</label>
<input type="radio" class="form-control" id="Entreprise" name="type"  value="Entreprise" [(ngModel)]="form.type" #type="ngModel"  />
        <div *ngIf="f.submitted && type.invalid">
          <div *ngIf="type.errors.required"class="req">*type is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="10" cols="50" class="form-control" id="description" name="description" [(ngModel)]="form.description" #description="ngModel"  ></textarea>
      </div>
      <div class="form-group">
        <label for="img">Choose a photo </label>
        <input type="file" class="form-control" id="img" accept="image/png, image/jpeg" name="img" (change)="fileChange($event)" [(ngModel)]="form.img" #img="ngModel"  />
      </div>


      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>
        </div>
      </div>
    </form>
  </div>
</ng-template>
