<section class="static-banner-home-two">
  <div class="container" style="background: transparent url(../../../assets/images/banner-2-1-man.png) -150% 0% no-repeat!important;">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="banner-content">
          <h3>We Make<br />
            <span>Better</span> Your Living</h3>
          <p>Duis aute irure door in reprehenderit in voup tate velit esse<br />
            cillum dolore eu fugiat Duis aute irure door in reprehen-<br />
            derit in voup tate velit esse.</p>
          <div class="btn-box">
            <a href="index30d1.html?page_id=362" class="banner-btn style-one">Contact Us <i class="fa fa-angle-double-right"></i></a>
            <a href="index2040.html?page_id=243" class="banner-btn style-two">View Services <i class="fa fa-angle-double-right"></i></a>
          </div><!-- /.btn-box -->
        </div><!-- /.banner-content -->
      </div><!-- /.col-md-8 -->
      <div class="col-lg-4 col-md-5">
        <div role="form" class="wpcf7" id="wpcf7-f540-p535-o1" lang="en-US" dir="ltr">
          <div class="screen-reader-response"></div>
          <form action="http://shtheme.net/demosd/handylexo1/#wpcf7-f540-p535-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="540" />
              <input type="hidden" name="_wpcf7_version" value="5.0.2" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f540-p535-o1" />
              <input type="hidden" name="_wpcf7_container_post" value="535" />
            </div>
            <div  class="banner-contact-form">
              <h3>Make an Appointment</h3>
              <p>We will solve your home problem</p>
              <div class="row">
                <div class="col-md-12"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name:" /></span></div>
                <div class="col-md-12"><span class="wpcf7-form-control-wrap your-phone"><input type="tel" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Phone:" /></span>
                </div>
                <div class="col-md-12"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email:" /></span></div>
                <div class="col-md-12"><span class="wpcf7-form-control-wrap your-address"><input type="text" name="your-address" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Address:" /></span></div>
                <div class="col-md-6">
                  <div class="form-grp"><span class="wpcf7-form-control-wrap your-date"><input type="date" name="your-date" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date" aria-required="true" aria-invalid="false" /></span><i class="fa fa-calendar"></i></div>
                </div>
                <div class="col-md-6">
                  <div class="form-grp"><span class="wpcf7-form-control-wrap your-time"><input type="text" name="your-time" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="hh:mm" /></span><i class="fa fa-clock-o"></i></div>
                </div>
                <div class="col-md-12"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span><input type="submit" value="Make An Appointment" class="wpcf7-form-control wpcf7-submit" />
                </div>
              </div>
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>



<section class="about-style-three">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
        <img src="../../../assets/images/about-2-1.jpg" class="pull-right" alt="Awesome Image"/>
      </div><!-- /.col-md-4 -->
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="about-content">
          <h3>About Our Firm</h3>
          <p class="highlight">Leverage agile frameworks to provide a robust synopsis for high level overviews.</p><!-- /.highlight -->
          <p>Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
          <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
          <a href="#" class="about-btn">Know more  <i class="fa fa-angle-double-right"></i></a>
        </div><!-- /.about-content -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>



<section class="service-style-two gray-bg">
  <div class="container">
    <div class="title">
      <h3>Our Services</h3>
      <p>Bring to the table win-win survival strategies to ensure proactive domination the end of the day, going forward.</p>
    </div><!-- /.title -->

      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of images">
          <ng-template carouselSlide>
            <div class="item" style="margin-right: 30px">
            <div class="single-service-style-two">
            <img class="img-box" [src]="slide.image" [title]="slide.text">
            <div class="text-box">
              <a href="indexbe10.html?services=maintance-services"><h3>Maintance Services</h3></a>
              <p>Whether another or built up business or association, you can look to us to best lucid who you are, your main event, and above all.</p>
            </div>
            </div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>

  </div><!-- /.container -->
</section>


<section class="feature-style-two">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="../../../assets/images/feature-2-1.jpg" class="featured-image pull-right" alt="Awesome Image"/>
      </div><!-- /.col-md-4 -->
      <div class="col-md-7">
        <div class="features-content">
          <h3>We're available for about solving your home problem</h3>
          <span>Bring to the table win survival strategies to ensure proactive.</span>
          <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. sed quia non numquam qui ratione voluptatem.</p>
          <ul class="list-items">

            <li><i class="pro-master-icon-tick"></i>24 -Hours Emergency Services</li>

            <li><i class="pro-master-icon-tick"></i>Uniformed, Licensed Plumbers</li>

            <li><i class="pro-master-icon-tick"></i>Licensed and Insured</li>

            <li><i class="pro-master-icon-tick"></i>Free Estimates</li>

            <li><i class="pro-master-icon-tick"></i>No Travel Charges</li>


          </ul><!-- /.list-items -->
        </div><!-- /.features-content -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section class=" row sectpad testimonials-area" id="testimonial">

  <div class="container"><div class="row">

    <div class="col-md-6 testimonials">
      <div class="row m0 testimonial_header">
        <h2>Testimonials</h2>
      </div>
      <div class="testimonial">
        <div id="testimonials_carousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner testimonial-slider" role="listbox">

            <div class="item active">
              <div class="carousel-caption testimonial-text">
                <h5>I am very happy with their work</h5>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliqui.</p>

                <h6><a href="index6034.html?testimonial=michale-john-6">- Michale John</a></h6>
              </div>
            </div>


            <div class="item">
              <div class="carousel-caption testimonial-text">
                <h5>I am very happy with their work</h5>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliqui.</p>

                <h6><a href="indexa981.html?testimonial=michale-john-5">- Michale John</a></h6>
              </div>
            </div>


            <div class="item">
              <div class="carousel-caption testimonial-text">
                <h5>I am very happy with their work</h5>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliquip ex ea commodo Ut enim ad minim veniam, quisno strud exercitation ullamco laboris nisi ut aliqui.</p>

                <h6><a href="indexfd39.html?testimonial=michale-john-4">- Michale John</a></h6>
              </div>
            </div>

          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators testimonial-image">

            <li data-target="#testimonials_carousel" data-slide-to="0" class="active">
              <img src="../../../assets/images/testimonial3.jpg" alt="">
            </li>


            <li data-target="#testimonials_carousel" data-slide-to="1">
              <img src="../../../assets/images/testimonial2.jpg" alt="">
            </li>


            <li data-target="#testimonials_carousel" data-slide-to="2">
              <img src="../../../assets/images/testimonial1.jpg" alt="">
            </li>

          </ol>
        </div>
      </div>
    </div>



    <div class="col-md-6 request">
      <div class="row m0 testimonial_header">
        <h2>Request A Quote</h2>
      </div>
      <div role="form" class="wpcf7" id="wpcf7-f35-p328-o2" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <form action="http://shtheme.net/demosd/handylexo1/#wpcf7-f35-p328-o2" method="post" class="wpcf7-form" novalidate="novalidate">
          <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="35" />
            <input type="hidden" name="_wpcf7_version" value="5.0.2" />
            <input type="hidden" name="_wpcf7_locale" value="en_US" />
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f35-p328-o2" />
            <input type="hidden" name="_wpcf7_container_post" value="328" />
          </div>
          <div class="request_form row m0"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="name" aria-required="true" aria-invalid="false" placeholder="Name" /></span><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span>
            <div class="row">
              <div class="col-sm-6"><span class="wpcf7-form-control-wrap menu-232"><select name="menu-232" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required selectpicker form-control" aria-required="true" aria-invalid="false"><option value="Mustard">Mustard</option><option value="Ketchup">Ketchup</option><option value="Relish">Relish</option></select></span></div>
              <div class="col-sm-6"><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Subject" /></span></div>
            </div>
            <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span><br />
              <input type="submit" value="CONTACT US" class="wpcf7-form-control wpcf7-submit fa fa-angle-double-right" /></p></div>
          <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
    </div>

  </div></div></section>

<section class="project-style-two dark-bg">
  <div class="container">
    <div class="title">
      <h3>Latest Project</h3>
    </div><!-- /.title -->
  </div><!-- /.container -->
  <div class="container-fluid">

      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of images">
          <ng-template carouselSlide>
            <div class="item" style="margin-right: 30px">
              <div class="single-team-style-one">
                <div class="img-box" style="width: 300px;height: 300px">
                  <img src="../../../assets/images/project-2-5.jpg" alt="Awesome Image"/>
                  <div class="social">
                    <button class="btn btn-dark">View Details</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>

  </div><!-- /.container-fluid -->
</section>


<section class="team-style-one">
  <div class="container">
    <div class="title">
      <h3>Our Workers</h3>
      <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est.</p>
    </div><!-- /.title -->
    <div class="row">
      <div class="single-team-style-one">
        <div class="img-box">
          <img src="../../../assets/images/team-1-4.jpg" alt="Awesome Image"/>
          <div class="social">
            <button class="btn btn-dark">See More</button>
          </div>
        </div>
        <h3>gqsdsq</h3>
        <p>gqdfqs</p>
      </div>

    </div>
  </div>
</section>




<section class="blog-area gray-bg">
  <div class="container">
    <div class="title">
      <h3>Latest News</h3>
    </div><!-- /.title -->
    <div class="row">



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog-post">
          <div class="img-box">
            <img src="../../../assets/images/blog3.jpg" alt="Awesome Image"/>
            <div class="date-box">Oct 18 2018</div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <a href="index9e38.html?p=455"><h3>We know your home problem</h3></a>
          <p>                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid etx ea commodi consequatur? Quis autem vel eum iure...                                </p>
          <a href="index9e38.html?p=455" class="read-more">                            Read More </a>
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-blog-post">
          <div class="img-box">
            <img src="../../../assets/images/blog1.jpg" alt="Awesome Image"/>
            <div class="date-box">Oct 18 2018</div><!-- /.date-box -->
          </div><!-- /.img-box -->
          <a href="index7014.html?p=456"><h3>Repairing of floor</h3></a>
          <p>                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid etx ea commodi consequatur? Quis autem vel eum iure...                                </p>
          <a href="index7014.html?p=456" class="read-more">                            Read More </a>
        </div><!-- /.single-blog-post -->
      </div><!-- /.col-md-4 -->




      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="blog-post-list">






          <div class="single-post-list">
            <a href="index6353.html?p=454"><h3>Repairing of Instruments</h3></a>
            <span>Oct 18 2018</span>
          </div>




          <div class="single-post-list">
            <a href="index20a4.html?p=452"><h3>We take care of your renovation</h3></a>
            <span>Oct 18 2018</span>
          </div>




          <div class="single-post-list">
            <a href="index0e62.html?p=16"><h3>We take care of your renovation</h3></a>
            <span>Sep 28 2018</span>
          </div>



        </div><!-- /.blog-post-list -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.thm-container -->
</section>

<div class="row m0" style="line-height: 0px!important;width: 100%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9546.27257827996!2d-122.06991439229918!3d37.3806353530412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb6dfa37b89ff%3A0xbde82f07e361daff!2sSylvan+Park!5e0!3m2!1svi!2s!4v1540263707723" style="border:0; width:100%; height:415px;" allowfullscreen></iframe></div>

