<header class="header-top home-two">

  <div class="container">

    <div class="logo pull-left">




      <a href="index.html"><img style="width: 105px;height: 60px" src="../../../assets/images/handyman.jpg" alt="Awesome Image"/></a>




    </div><!-- /.logo pull-left -->

    <div class="header-right-info pull-right">

      <div class="single-header-right-info">

        <div class="icon-box">

          <i class="pro-master-icon-smartphone"></i>

        </div><!-- /.icon-box -->

        <div class="text-box">




          <h3>+ (1800) 456 7890</h3>





          <p>Mon - Sat 9.00 - 19.00</p>




        </div><!-- /.text-box -->

      </div><!-- /.single-header-right-info -->

      <div class="single-header-right-info">

        <div class="icon-box">

          <i class="pro-master-icon-mail"></i>

        </div><!-- /.icon-box -->

        <div class="text-box">




          <h3>info@promaster</h3>





          <p>Mail us</p>




        </div><!-- /.text-box -->

      </div><!-- /.single-header-right-info -->




      <div class="single-header-right-info">

        <a  (click)="openDialog()" class="header-btn">Log In<i class="fa fa-angle-double-right"></i></a>

      </div>






    </div><!-- /.header-right-info -->

  </div><!-- /.container -->

</header><!-- /.header-top home-two -->



<nav class="navbar navbar-default header-navigation stricky home-page-two">

  <div class="container clearfix">

    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"><i class="fa fa-bars"></i></button>

    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

      <ul  class="nav navbar-nav navigation-box home-page-two2 "><li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-417 dropdown current"><a   title="HOME" class="321" href="http://shtheme.net/demosd/handylexo1" role="button" aria-haspopup="true" aria-expanded="false">HOME<i class="icon-down-open-mini"></i></a>
        <ul role="menu" class="sub-menu">
          <li id="menu-item-736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-736"><a   title="HOME 2" class="123" href="indexbf8a.html?page_id=33">HOME 2</a></li>
          <li id="menu-item-737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-737"><a   title="HOME 3" class="123" href="indexe1bc.html?page_id=586">HOME 3</a></li>
          <li id="menu-item-738" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-738"><a   title="HOME 4" class="123" href="index5e2b.html?page_id=628">HOME 4</a></li>
          <li id="menu-item-739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-739"><a   title="HOME 5" class="123" href="indexf231.html?page_id=682">HOME 5</a></li>
          <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-418"><a   title="HOME ONE PAGE" class="123" href="index6da1.html?page_id=139">HOME ONE PAGE</a></li>
        </ul>
      </li>
        <li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-422 dropdown"><a   title="SERVICES" class="321" href="index2040.html?page_id=243" role="button" aria-haspopup="true" aria-expanded="false">SERVICES<i class="icon-down-open-mini"></i></a>
          <ul role="menu" class="sub-menu">
            <li id="menu-item-421" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-421"><a   title="SERVICES" class="123">SERVICES</a></li>
            <li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-423"><a   title="SINGLE SERVICE" class="123" href="index05f0.html?services=handyman-services">SINGLE SERVICE</a></li>
          </ul>
        </li>
        <li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-438 dropdown"><a   title="PROJECTS" class="321" href="index404f.html?page_id=310" role="button" aria-haspopup="true" aria-expanded="false">PROJECTS<i class="icon-down-open-mini"></i></a>
          <ul role="menu" class="sub-menu">
            <li id="menu-item-440" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-440"><a   title="PROJECT" class="123">PROJECT</a></li>
            <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-439"><a   title="PROJECTS V1" class="123" href="index61e9.html?page_id=287">PROJECTS V1</a></li>
            <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-project menu-item-441"><a   title="PROJECT DETAIL" class="123" href="indexd83c.html?project=electrical-repairing">PROJECT DETAIL</a></li>
          </ul>
        </li>
        <li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-425 dropdown"><a   title="TEAM" class="321" href="index0494.html?page_id=332" role="button" aria-haspopup="true" aria-expanded="false">TEAM<i class="icon-down-open-mini"></i></a>
          <ul role="menu" class="sub-menu">
            <li id="menu-item-466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-466 dropdown"><a   title="TEAM" class="123">TEAM</a>
              <ul role="menu" class="sub-menu">
                <li id="menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-team menu-item-467"><a   title="SINGLE MEMBER" class="123" href="index686e.html?team=maristopher-jopy-8">SINGLE MEMBER</a></li>
                <li id="menu-item-424" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-424"><a   title="PAGES" class="123">PAGES</a></li>
                <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a   title="TESTIMONIALS" class="123" href="indexab2f.html?page_id=322">TESTIMONIALS</a></li>
                <li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-528"><a   title="404 PAGE" class="123" href="indexfcf2.html?page_id=428">404 PAGE</a></li>
                <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a   title="COMING SOON PAGE" class="123" href="index1c43.html?page_id=348">COMING SOON PAGE</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="menu-item-784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-784 dropdown"><a   title="SHOP" class="321" href="indexd7dd.html?page_id=373" role="button" aria-haspopup="true" aria-expanded="false">SHOP<i class="icon-down-open-mini"></i></a>
          <ul role="menu" class="sub-menu">
            <li id="menu-item-785" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-785"><a   title="PRODUCT" class="123" href="indexd7dd.html?page_id=373">PRODUCT</a></li>
            <li id="menu-item-783" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-783"><a   title="CART" class="123" href="index03a3.html?page_id=374">CART</a></li>
            <li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-782"><a   title="CHECKOUT" class="123" href="index5907.html?page_id=375">CHECKOUT</a></li>
            <li id="menu-item-786" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-786"><a   title="PRODUCT DETAILS" class="123" href="index88ea.html?product=battery-screwdriver-4">PRODUCT DETAILS</a></li>
          </ul>
        </li>
        <li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-442 dropdown"><a   title="BLOG" class="321" href="index15f7.html?page_id=436" role="button" aria-haspopup="true" aria-expanded="false">BLOG<i class="icon-down-open-mini"></i></a>
          <ul role="menu" class="sub-menu">
            <li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444"><a   title="BLOG" class="123">BLOG</a></li>
            <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-443"><a   title="BLOG DETAIL" class="123" href="index0e62.html?p=16">BLOG DETAIL</a></li>
          </ul>
        </li>
        <li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a   title="CONTACT US" class="123" href="index30d1.html?page_id=362">CONTACT US</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <div class="right-side-box">



      <a href="#test-search" class="icon icon-Search search-btn popup-with-zoom-anim search-opener"></a>
    </div><!-- /.right-side-box -->

  </div><!-- /.container -->

</nav>


