<section class="page-cover" style=" background: url(../../../assets/images/page-cover.jpg) no-repeat scroll center 0;">
  <div class="container">
    <div class="m0" >
      <h2>CONTACT US</h2>
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li class="active">CONTACT US</li>
      </ol>
    </div>
  </div>
</section>
<section class="row touch" style="display: inline-block;width: -webkit-fill-available">
  <div class="sectpad touch_bg">
    <div class="container">


      <div class="row m0 section_header">
        <h2>Get In Touch</h2>
        <h5>WE ARE AVAILABLE FOR YOUR HELP</h5>
        <p>If you are interested in finding out more about how we can help your organization, please fill out the form below. you can call us anytime between 4 A.M. to 2 P. M. GMT</p>
      </div>
      <div class="row m0 touch_top">
        <ul class="nav" style="width: -webkit-fill-available;">
          <li class="item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <i class="fa fa-map-marker"></i>
                </a>
              </div>
              <div class="media-body">
                Handyman, 562, Mallin Street<br>
                New Youk, NY 100 254</div>
            </div>
          </li>
          <li class="item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </div>
              <div class="media-body">
                info@handyman.com<br>
                support@handyman.com</div>
            </div>
          </li>
          <li class="item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <i class="fa fa-phone"></i>
                </a>
              </div>
              <div class="media-body">
                + 1800 562 2487<br>+ 3215 546 8975                        </div>
            </div>
          </li>
        </ul>
      </div>



      <div class="row touch_middle">
        <div class="col-md-8 input_form">
          <div role="form" class="wpcf7" id="wpcf7-f370-p362-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form class="wpcf7-form">
              <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="370" />
                <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f370-p362-o1" />
                <input type="hidden" name="_wpcf7_container_post" value="362" />
              </div>
              <form #form="ngForm" (ngSubmit)="OnSubmit(form)" id="contactForm"><span class="wpcf7-form-control-wrap your-name">
                <input ngModel #name="ngModel" type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="name" aria-required="true" aria-invalid="false" placeholder="Name" /></span><span class="wpcf7-form-control-wrap your-email">
                <input ngModel #email="ngModel" type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Email" /></span><span class="wpcf7-form-control-wrap your-subject">
                <input ngModel #subject="ngModel" type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="subject" aria-required="true" aria-invalid="false" placeholder="Subject" /></span><span class="wpcf7-form-control-wrap your-message">
                <textarea ngModel #message="ngModel" name="message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="message" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
                <input type="submit" value="Submit Now" class="wpcf7-form-control wpcf7-submit btn btn-default" />
              </form>
              <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
        </div>
        <div class="col-md-4 open_hours">
          <div class="hours">
            <h2>Opening Hours</h2>
            <ul class="nav">
              <li>Monday <span>8:00-16:00</span></li>
              <li>Tuesday<span>8:00-16:00</span></li>
              <li>Wednesday<span>8:00-16:00</span></li>
              <li>Thursday<span>8:00-16:00</span></li>
              <li>Friday<span>8:00-16:00</span></li>
              <li>Saturday<span>8:00-16:00</span></li>
              <li>Sunday<span>8:00-16:00</span></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="row m0" style="line-height: 0px!important;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9546.27257827996!2d-122.06991439229918!3d37.3806353530412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb6dfa37b89ff%3A0xbde82f07e361daff!2sSylvan+Park!5e0!3m2!1svi!2s!4v1540263707723" style="border:0; width:100%; height:415px;" allowfullscreen></iframe></div>

    </div>
  </div>
</section>
