<!-- Content -->
<section class="row page-cover" style=" background: url(../../../assets/images/page-cover.jpg) no-repeat scroll center 0;">
    <div class="container">
        <div class="m0">
            <h2> MEMBER PROFILE</h2>
            <ol class="breadcrumb">
                <li><a routerLink="/home">Home</a></li>
                <li class="active">{{artisan.firstname+" "+artisan.lastname}}</li>
            </ol>
        </div>
    </div>
</section>
<!-- Breadcrumb row END -->
<section class="row member_sec">
    <div class="container">
        <div class="row m0">
            <div class="col-sm-5 member_img"><img style="width: 500px;height: 500px" src="../../../assets/images/{{artisan.img}}" alt="" />
                <div class="block-recommandation">
                    <div class="col-xs-1">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <span style="    padding: 10px;"> {{artisan.firstname}} is recommanded by {{artisan.rate}} persons </span>
                    <button class="btn btn-outline-secondary" style="    margin-left: 90px;" *ngIf="isLoggedIn && isUser " (click)="rate()" [disabled]="isRated">Recommand</button>

                </div>
            </div>

            <div class="col-sm-7 section_header member_details">
                <h2>{{artisan.firstname+" "+artisan.lastname}}</h2>
                <h5>12 years experience in {{artisan.job}}</h5>
                <p>{{artisan.description}}</p>
                <div class="social_icon"></div>
                <div class="phn_no">
                    <a><img src="../../../assets/images/icon1.png" alt="" />{{artisan.phone}}</a>
                </div>
              <br>
                <div style="padding-left: 25px">
                <button class="btn btn-secondary" style="font-size: x-large;border: hidden;border-radius: 15px;background-color: #f7be68;" (click)="newMessage()" [routerLink]="['/project-description']">
                  Request a Free Quote
                </button></div>
            </div>
        </div>
    </div>
</section>
<section class="row member_work">
    <div class="container">
        <div class="row m0">
            <div class="col-md-7 col-lg-5">
                <div class="section_header work_details">
                    <h2>Professional Work And Services</h2>
                    <h5>I do different work in different environment</h5>
                    <p style="
    font-style: oblique;
    font-size: x-large;
" *ngFor="let service of artisan.services">{{service.name}}</p>
                  <div style="margin-left: -10px;margin-top: 5px" *ngIf="artisan.username==this.tokenStorage.getUsername()">
                    <button class="btn btn-secondary" style="margin-bottom: 2px;font-size: x-large;border: hidden;border-radius: 15px;background-color: #f7be68;" (click)="toggleShow()">
                      Add new Service
                    </button>
                    <br>
                    <input *ngIf="isShown" type="text" [(ngModel)]="service">
                    <button class="btn btn-secondary" style="font-size: x-small;border: hidden;border-radius: 15px;background-color: #f7be68;" *ngIf="isShown" (click)="addService()">submit</button>
                  </div>

                </div>
            </div>
            <div class="col-md-5 col-lg-7 work_img"><img src="../../../assets/images/img2.jpg" alt="" /><img src="../../../assets/images/img3.jpg" alt="" /></div>

        </div>
    </div>
</section>
<section class="row sectpad educational-part">
    <div class="container">
        <div class="row">
            <div class="col-md-6 education-area">
                <div class="title">
                    <h2>My Professional Education</h2>
                </div>
                <div class="media">
                    <div class="media-left"><a href="#">1992</a></div>
                    <div class="media-body">
                        <h4 class="media-heading">Diploma in civil engineering</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="#">1995</a></div>
                    <div class="media-body">
                        <h4 class="media-heading">complete Mater Degree in civil from IGNU</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="#">1996</a></div>
                    <div class="media-body">
                        <h4 class="media-heading">MBA in Civil constrution</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 notes">
                <div class="title">
                    <h2>Key Notes</h2>
                </div>
                <p>
                    <a href="#"><img src="../../../assets/images/Single-member2.jpg" alt="" /></a>
                </p>
                <h4>Working Experience</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
            </div>
        </div>
    </div>
</section>

<section class="row member_work" *ngIf="artisan.projects[0]">
  <h1 style="margin-left: 20px;margin-bottom: 20px">My Latest Projects:</h1>
  <div class="container-fluid">

    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let slide of artisan.projects">
        <ng-template carouselSlide>
          <div class="item" style="margin-right: 30px">
            <div class="single-team-style-one">
              <div class="img-box" style="width: 300px;height: 300px">
                <img src="../../../assets/images/project-2-5.jpg" alt="Awesome Image"/>
                <div class="social">
                  <button class="btn btn-dark">{{slide.title}}</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>

  </div><!-- /.container-fluid -->
</section>

<section class="row single-bg"><img src="../../../assets/images/Single-member-Profilebg.jpg" alt="" /></section>

<section class="row address-area">
    <div class="container">
        <div class="row">
            <div role="form" class="wpcf7" id="wpcf7-f204-p340-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="http://shtheme.net/demosd/handylexo1/?team=maristopher-jopy-8#wpcf7-f204-p340-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="204" />
                        <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f204-p340-o1" />
                        <input type="hidden" name="_wpcf7_container_post" value="340" />
                    </div>
                    <div class="col-md-7">
                        <div class="row m0 question-box">
                            <h2>Do You Have Any Question</h2>
                            <div>
                                <div class="form-group from-contact"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control inne" id="exampleInputName2" aria-required="true" aria-invalid="false" placeholder="Name" /></span>
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control inner" id="exampleInputEmail2" aria-required="true"
                                            aria-invalid="false" placeholder="Email" /></span><span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control inner" aria-invalid="false" placeholder="Phone" /></span>
                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="3" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control message" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
                                </div>
                                <p><input type="submit" value="Contact us" class="wpcf7-form-control wpcf7-submit btn btn-default button" /></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 address">
                        <address class="address-left"><strong>Address :</strong>
              <p>13005 Greenville Avenue, California, TX 70240</p>
              <p><br><strong>Advisor : <small>Michale John</small></strong><a href="#">Michale John@handyman&amp;repairing.com</a><br><a href="#">http://handyman&amp;repairing.com</a></address>
                        <div class="social"><a class="phone" href="#">1800 (123) 4567</a>
                            <P>Available Time : 10.00am to 4.00pm</P>
                        </div>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>
    </div>
</section>
