.block-recommandation .fa-heart {
  font-size: 25px;
}
.block-recommandation i {
  color: #e95045;
  text-align: center;
}.block-recommandation .fa-heart {
   font-size: 25px;
 }
.block-recommandation i {
  color: #e95045;
  text-align: center;

}
.block-recommandation{
  font-size: 14px;
  border: 2px solid #D6D6D6;
  border-radius: 50px;
  color: #242424;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 38px;

}

.serv{
  float:left;
  list-style:none;
}
.hidden-form{
  visibility:hidden;
}
.show-form{
  visibility: visible !important;
}
