<section class="row touch" style="display: inline-block;width: -webkit-fill-available">
    <div class="sectpad touch_bg">
        <div class="container">






            <div class="row m0 section_header">
                <h2>Please describe your project first</h2>

                <p>Contact this professional directly by filling in the information below. The professionals of our network are very responsive and will respond to your project as soon as possible.</p>
            </div>
            <div class="row m0 touch_top">
                <ul class="nav" style="width: -webkit-fill-available;">
                    <li class="item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-map-marker"></i>
                                </a>
                            </div>
                            <div class="media-body">
                              676 INSAT Centre Urbain Nord BP، <br /> Tunis Cedex 1080 </div>
                        </div>
                    </li>

                </ul>
            </div>


            <div class="row touch_middle">
                <div class="col-md-8 input_form">
                    <div role="form" class="wpcf7" id="wpcf7-f370-p362-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="370" />
                                <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f370-p362-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="362" />
                            </div>

                            <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

                                <span class="wpcf7-form-control-wrap your-name">
                                    <input type="text" onfocusin="(this.type='date')" onfocusout="(this.type='text')" name="start_date"
                                     class="form-input wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="start_date" ngModel aria-required="true" aria-invalid="false" placeholder="Start date" />
                              </span>


                                <span class="wpcf7-form-control-wrap your-email">
                                    <input type="text"  name="deadline"  id="deadline" ngModel aria-required="true" placeholder="deadline"onfocusin="(this.type='date')" onfocusout="(this.type='text')"
                                     class=" wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"/>
                                </span>


                                <span class="wpcf7-form-control-wrap your-subject">
                                     <input type="text" name="address"
                                     class="form-input wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="address" ngModel
                                     aria-required="true" aria-invalid="false" placeholder="Address" />
                                 </span>

                                <span class="wpcf7-form-control-wrap your-subject">
                                    <input type="text" name="title" ngModel
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="title"
                      aria-required="true" aria-invalid="false" placeholder="Title" />
                                 </span>
                                <span class="wpcf7-form-control-wrap your-message">
                        <textarea name="description" cols="40" rows="6" ngModel
                    class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="description"
                    aria-required="true" aria-invalid="false" placeholder="Description">
                        </textarea>
                              </span>

                                <input type="submit" value="Done" class="wpcf7-form-control wpcf7-submit btn btn-default" />
                            </form>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 open_hours">
                    <div class="hours">
                        <h2>Opening Hours</h2>
                        <ul class="nav">
                            <li>Monday <span>8:00-16:00</span></li>
                            <li>Tuesday<span>8:00-16:00</span></li>
                            <li>Wednesday<span>8:00-16:00</span></li>
                            <li>Thursday<span>8:00-16:00</span></li>
                            <li>Friday<span>8:00-16:00</span></li>
                            <li>Saturday<span>8:00-16:00</span></li>
                            <li>Sunday<span>8:00-16:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
