/* You can add global styles to this file, and also import other style files */
@import "assets/css/styled8f3.css";
@import "assets/css/responsived8f3.css";
@import "assets/css/style2f23.css";
@import "assets/css/bs-custom-menud8f3.css";
@import "assets/css/strock-icond8f3.css";
@import "assets/css/animate.mind8f3.css";
@import "assets/css/bootstrap.mind8f3.css";
@import "assets/css/bootstrap-theme.mind8f3.css";
@import "assets/css/stylesce52.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
stylesce52


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.imgw{
  height: 300px;
  width: 300px;
}

