@font-face {
  font-family: 'pro-master-icon';
  src:  url('../fonts/pro-master-iconcde3.eot?rfjc0k');
  src:  url('../fonts/pro-master-iconcde3.eot?rfjc0k#iefix') format('embedded-opentype'),
    url('../fonts/pro-master-iconcde3.ttf?rfjc0k') format('truetype'),
    url('../fonts/pro-master-iconcde3.woff?rfjc0k') format('woff'),
    url('../fonts/pro-master-iconcde3.svg?rfjc0k#pro-master-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pro-master-icon-"], [class*=" pro-master-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pro-master-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pro-master-icon-location:before {
  content: "\e90f";
}
.pro-master-icon-smartphone:before {
  content: "\e900";
}
.pro-master-icon-mail:before {
  content: "\e901";
}
.pro-master-icon-wrench:before {
  content: "\e902";
}
.pro-master-icon-calendar:before {
  content: "\e903";
}
.pro-master-icon-price:before {
  content: "\e904";
}
.pro-master-icon-reward:before {
  content: "\e905";
}
.pro-master-icon-calendar-1:before {
  content: "\e906";
}
.pro-master-icon-hand:before {
  content: "\e907";
}
.pro-master-icon-labor:before {
  content: "\e908";
}
.pro-master-icon-gear:before {
  content: "\e909";
}
.pro-master-icon-mail-1:before {
  content: "\e90a";
}
.pro-master-icon-print:before {
  content: "\e90b";
}
.pro-master-icon-clock:before {
  content: "\e90c";
}
.pro-master-icon-delivery:before {
  content: "\e90d";
}
.pro-master-icon-tick:before {
  content: "\e90e";
}
