
<footer class="row" style="display: inline-block;width: -webkit-fill-available;margin-top: 120px">
  <div class="row m0" style="width: 100%">
    <div class="container">
      <div class="contact_banner row m0">
        <h2>If  You Need Help ... Contact Us & Get Quote</h2>


        <a routerLink="/contact" style="margin: auto">Contact us <i class="fa fa-angle-double-right"></i></a>


      </div>
      <div class="row footer_sidebar">

        <div class="widget widget1 about_us_widget col-sm-6 col-lg-3">

          <div id="text-2">
            <div class="textwidget"><p><a class="logo"><img src="../../../assets/images/logo.png" alt="logo image"></a></p>
              <p>Handyman is an online platform for skills on demand around the craft trades (plumbing, electricity, refrigeration, masonry</p>
              <p><a class="read_more" routerLink="/home">Read More <i class="fa fa-angle-double-right"></i></a></p>
              <div class="social_icon row m0">
                <ul class="nav">
                  <li><a><i class="fa fa-facebook"></i></a></li>
                  <li><a><i class="fa fa-twitter"></i></a></li>
                  <li><a><i class="fa fa-google-plus"></i></a></li>
                  <li><a><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="widget widget2 widget_links col-sm-6 col-lg-3">

          <div id="text-3">			<div class="textwidget"><div class="service-widget">
            <h4 class="widget_title">our services</h4>
            <div class="widget_inner row m0">
              <ul>
                <li><a>House Remodeling</a></li>
                <li><a>Plumbing Services</a></li>
                <li><a>Wood Flooring</a></li>
                <li><a>Doors and Windows</a></li>
                <li><a>Tiling and Painting</a></li>
              </ul>
            </div>
          </div>
          </div>
          </div>
        </div>
        <div class="widget widget3 widget_links widget_links2 col-sm-6 col-lg-2">

          <div id="text-4">			<div class="textwidget"><h4 class="widget_title">Quick Links</h4>
            <div class="widget_inner row m0">
              <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/SearchArtisan">Find A Craftsman</a></li>
                <li><a routerLink="/Suggest">Suggest A Craftsman</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
              </ul></div>
          </div>
          </div>
        </div>
        <div class="widget widget4 widget_contact col-sm-6 col-lg-4">

          <div id="text-5">			<div class="textwidget"><h4 class="widget_title">Get In Touch</h4>
            <div class="widget_inner row m0">
              <ul>
                <li><i class="fa fa-map-marker"></i>
                  <div class="location_address fleft"><strong>676 INSAT Centre Urbain Nord BP</strong><br />
                    Tunis Cedex 1080</div>
                </li>
                <li><i class="fa fa-phone"></i>
                  <div class="fleft contact_no"><a>+ 21625555555</a> / <a>1254 954 7854</a></div>
                </li>
                <li><i class="fa fa-envelope-o"></i>
                  <div class="fleft contact_mail"><a>www.insat.rnu</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft service_time">Monday &#8211; Friday : 800 &#8211; 1900</div>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
