<section class="row page-cover" style="background: url(../../../assets/images/page-cover.jpg) no-repeat scroll center 0;">


    <div class="container">

        <div class="m0">

            <h2>
                Projects</h2>

            <ol class="breadcrumb">

                <li><a routerLink="/home">Home</a></li>

                <li class="active">
                    My Projects</li>

            </ol>

        </div>

    </div>

</section>

<section class="row blog_content">

    <div class="blog_section">

        <div class="blog_section_inner row m0">




            <div class="row blog" style="width: inherit" *ngFor="let project of listProject">


                <div class="featured_img row m0">

                    <a><img src="../../../assets/images/4.jpg" alt="" class="img-responsive"></a>

                </div>


                <div class="media post-meta">



                    <div class="media-body media-bottom">

                        <h4 class="post-title"><a>{{project.title}}</a></h4>

                        <ul class="post-infos nav">

                            <li><i class="fa fa-user"></i>By: <a rel="author">{{project.client_username}}</a></li>


                            <li><i class="fa fa-tag"></i>
                              <a rel="tag">{{project.address}}</a>
                              <a rel="tag">, Current State: {{project.state}}</a>
                            </li>


                            <li><i class="fa fa-calendar"></i><a>on:{{project.start_date}}</a>
                                <i class="fa fa-calendar"></i><a>deadline:{{project.deadline}}</a>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="post-content row m0 d-block" style="overflow-wrap: break-word;width: inherit">
                  <div>
                    <p>
                        {{project.description}}
                    </p>
                  </div>
                  <div *ngIf="project.state !== 'started'">
                    <a (click)="openDialogAccept(project.project_id)" class="read-more" style="cursor: pointer">
                              Accept  <i class="fa fa-angle-double-right"></i>
                            </a>
                    <a (click)="openDialogDecline(project.project_id)" class="read-more" style="cursor: pointer">
                             Decline  <i class="fa fa-angle-double-right"></i>
                            </a>
                  </div>
                </div>

            </div>
            <!--Blog-->
        </div>
    </div>
</section>
