<section class="row page-cover" style="background: url(../../../assets/images/page-cover.jpg) no-repeat scroll center 0;">


  <div class="container">

    <div class="row m0">

      <h2>
        Blog</h2>

      <ol class="breadcrumb">

        <li><a href="index.html">Home</a></li>

        <li class="active">
          Blog</li>

      </ol>

    </div>

  </div>

</section>

<section class="row blog_content">

  <div class="blog_section">

    <div class="blog_section_inner row m0">




      <div class="row blog" *ngFor="let project of projects">


        <div class="featured_img row m0">

          <a href="index9e38.html?p=455"><img src="../../../assets/images/4.jpg" alt="" class="img-responsive"></a>

        </div>


        <div class="media post-meta">



          <div class="media-body media-bottom">

            <h4 class="post-title"><a href="index9e38.html?p=455">{{project.title}}</a></h4>

            <ul class="post-infos nav">

              <li><i class="fa fa-user"></i>By: <a href="indexcd64.html?author=1" title="Posts by Michale John" rel="author">Michale John</a></li>


              <li><i class="fa fa-tag"></i><a href="indexf984.html?tag=electricity" rel="tag">{{project.address}}</a><a href="index18a1.html?tag=repair" rel="tag">, {{project.state}}</a></li>


              <li><i class="fa fa-calendar"></i><a href="index9e38.html?p=455#respond">on:{{project.start_date}}</a>
                <i class="fa fa-calendar"></i><a href="index9e38.html?p=455#respond">deadline:{{project.deadline}}</a>
              </li>

            </ul>

          </div>

        </div>

        <div class="post-content row m0">

          <p>
            {{project.description}}
          </p>

          <a (click)="openDialog(project.id)" class="read-more">
            View Costs   <i class="fa fa-angle-double-right"></i>
          </a>

        </div>

      </div>
      <!--Blog-->
    </div>
  </div>
</section>
